.cardContainer {
  background-color: #ddd;
}

.cards {
  height: 100%;
  max-width: 300px;
}

.map {
  height: 60vh;
  z-index: 1
}

.list {
  z-index: 1000;
}

.star-ratings {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.loginBox {
  text-align: center;

}

.button {
  margin: 25px;
}

.box {
  font-weight: bold;
  margin: 10px;
  font-size: 15px;
}

.spacer {
  height: 15vh;
  width: 100vw;
}

.breweryHeader {
  text-align: center;
}

.breweryBeers {
  height: 200px;
  width: 200x;
}

.loader{
  position: absolute;
  margin-top: 25vh;
  margin-left: 50%;
  height: 40px;
  width: auto;
  animation: spin 4.5s linear infinite;
}

@keyframes spin {
0% { transform: rotate(0deg); }
100% { transform: rotate(360deg); }
}
