.cardContainer {
  background-color: #ddd;
}

.cards {
  height: 100%;
  max-width: 300px;
}

.beerName {
  font-size: 5%;
}

.map {
  height: 60vh;
  z-index: 1
}

.list {
  z-index: 1000;
}

.breweryCell {
  font-size: 16px;
  color: blue;
}

.breweryCell:hover {
  color: red;
}

.star-ratings {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.loginBox {
  text-align: center;

}

.button {
  margin: 25px;
}

.box {
  font-weight: bold;
  margin: 10px;
  font-size: 15px;
}

.spacer {
  height: 15vh;
  width: 100vw;
}