.cardContainer {
  background-color: #ddd;
}

.cards {
  height: 100%;
  max-width: 300px;
}

.beerName {
  font-size: 5%;
}

.map {
  height: 60vh;
  z-index: 1
}

.list {
  z-index: 1000;
}



.star-ratings {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.loginBox {
  text-align: center;

}

.button {
  margin: 25px;
}

.box {
  font-weight: bold;
  margin: 10px;
  font-size: 15px;
}

.spacer {
  height: 15vh;
  width: 100vw;
}

.beerBlurb {
  height: 70vh;
  max-width: 500px;
  text-align: center;
  border: 1px solid black;
  position: relative;
  right: 0px;
}

.beerPagePic {
    height: 25%;
    width: 50%;

}

.beerPageInfo {
  text-align: left;
}

.beerText {
  margin-left: 8px;
}

.breweryHeader {
  text-align: center;
}