.auto-scroller {
  border-left: 1px solid rgba(0, 0, 0, 0.3);
  border-right: 1px solid rgba(0, 0, 0, 0.3);
  overflow: hidden;
  overflow-x: scroll;
  display: inline-block;
  width: 90%;
  height: 100%;
  white-space: nowrap;
}


.auto-scroller::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}

.auto-scroller-container {
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  height: 250px;
  width: 100%;
}
.auto-scroller *:hover {
  transform: scale(1.2);
}

.auto-scroller * {
  height: 200px;
  width: 200px;
  margin: 2%;
}

.scroller-arrows {
  position: absolute;
  top: 50%;
  width: 4.5%;
  height: 5vh;
  color: #3F51B5;
}

#arrow-right {
  right: 0;
}

#arrow-left {
  left: 0;
}

.scroller-arrows.right:last-of-type {
  transform: scale(1.3);
}

.scroller-arrows.left:first-of-type {
  transform: scale(1.3);
}

.scroller-arrows.right.hide:last-of-type {
  visibility: hidden;
}

.scroller-arrows.left.hide:first-of-type {
  visibility: hidden;
}
