.auto-scroller {
  overflow: hidden;
  display: inline-block;
  width: 90%;
  height: 100%;
  white-space: nowrap;
  border: 1px solid black;
}

.auto-scroller-container {
  border: 1px solid black;
  text-align: center;
  height: auto;
  width: 100%;
}
.auto-scroller *:hover {
  transform: scale(1.2);
}

.scroller-arrows {
  position: absolute;
  top: 50%;
  display: inline-block;
  width: auto;
  height: 4vh;
  color: #3F51B5;
  border: 1px solid black;
}

.scroller-arrows-hidden {
  visibility: hidden;
}

#arrow-right {
  right: 0;
}

#arrow-left {
  left: 0;
}

.scroller-arrows.right:last-of-type {
  transform: scale(1.3);
}

.scroller-arrows.left:first-of-type {
  transform: scale(1.3);
}

.scroller-arrows.right.hide:last-of-type {
  visibility: hidden;
}

.scroller-arrows.left.hide:first-of-type {
  visibility: hidden;
}
