.beer-card {
  position: relative;
  color: transparent;
  height: 100%;
  max-width: 300px;
}

.card-container {
  background-color: #ddd;
}

.beer-card-action {
  height: 85%
}

.beer-spacer {
  height: 50px;
  visibility: hidden;
}

.beer-content {
  padding-bottom: 0px;
}


.star-div {
  display: block;
  position: absolute;
  bottom: 0;
  width: 100%
}

.star-ratings {
  width: 100%;
  text-align: center;
  margin-bottom: 5px;
}

.beer-links {
  text-decoration: none;
}

.beer-name {
  font-size: 5%;
}

.beer-blurb {
  height: 70vh;
  max-width: 500px;
  text-align: center;
  border: 1px solid black;
  position: relative;
  right: 0px;
}

.beer-page-pic {
    height: 25%;
    width: 50%;
}

.beer-page-info {
  margin-left: 8px;
  text-align: left;
}

.beersearch-header {
  text-align: center;
}
