.brewery-map {
  height: 50% !important;
}

.not-found-message{
  position: absolute;
  display: inline-flex;
  padding-top: 15px;
  margin-left: 40px;
}

.marker-link {
  text-decoration: none;
  color: black;
}

.marker-link:hover {
  text-decoration: underline;
}
