.horizontal-radio-group{
  display: inline-grid !important;
}

/* .beer-card-switch > span {
  transform: rotate(45deg);
} */

/* .beer-card-switch:first-child {
  transform: rotate(270deg);
} */

.sort-by-icons *{
  height: 3.5vh;
  width: auto;
  margin-top: 5px;
}

.sort-by-icons{
  margin: auto;
}

.sort-switch {
  display: inline-block !important;
}

.sort-switch:first-child {
  background: black;
}

.sort-container{
  text-align-last: center;
}
