.cardContainer {
  background-color: #ddd;
}

.cards {
  height: 100%;
  max-width: 300px;
}

.beerName {
  font-size: 5%;
}

.MuiInputBase-root-158 MuiOutlinedInput-root-145 MuiInputBase-formControl-159 {
  height: 1%;

}